# Ignoruj Android & iOS část pro detekci jazyka
book_compass_flutter/android/** linguist-vendored
book_compass_flutter/ios/** linguist-vendored

# Povolit detekci pro Dart kód
book_compass_flutter/lib/** linguist-detectable=true
